{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}ATMC ISAT Login{% endblock title %}
{% block body %}
    <div class="row">
        <div class="col-md-4">
            <form class="form-signin" action="/" method="POST">
                <h2 class="form-signin-heading" align="left">ATMC ISAT Login</h2>
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            {% if category == 'info' %}
                                <div class="form-group alert alert-success" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <strong>{{ message }}</strong>
                                </div>
                            {% else %}
                                <div class="form-group alert alert-danger">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times</span>
                                    </button>
                                   <strong>{{ message }}</strong>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                {{ form.csrf_token }}
                <div class="from-group">
                    <label for="loginusername" class="sr-only">Username</label>
                    {{ form.loginusername(class="form-control", placeholder="username") }}
                    {% if form.loginusername.errors %}
                        <div class="alert alert-danger">
                            <span>{{ form.loginusername.errors[0] }}</span>
                        </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="loginpassword" class="sr-only">Password</label>
                    {{ form.loginpassword(class="form-control", placeholder="password") }}
                    {% if form.loginpassword.errors %}
                        <div class="alert alert-danger">
                            <span>{{ form.loginpassword.errors[0] }}</span>
                        </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </form>
        </div>
    </div>
{{ super() }}
{% endblock body %}

