{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
    <div class="row">
        <div class="page-header content-heading content-area">
            <h3>Add user</h3>
        </div>
        <span>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="form-group alert alert-danger">
                       <span>{{ messages[0] }}</span>
                    </div>
                {% endif %}
            {% endwith %}
        </span>
        <div class="row">
            <div class="col-xs-9 col-sm-6 col-md-5 content-area">
                <form class="form-group" action="/add_user" method="POST">
                    {{ form.csrf_token }}
                    <div class="from-group">
                        {% for key, value in form._fields.items() %}
                            {% if key != "submit" and key != "csrf_token" and key != "email_account" and key != "internet_service" and key != "notes" %}
                                {% if value.errors %}
                                    <div class="form-group has-error">
                                        <label class="control-label" for="inputError">{{ key|capitalize|replace("_", " ") }}</label>
                                        {{ value(class="form-control", id="inputError") }}
                                        <span class="help-block">{{ key|capitalize|replace("_", " ") }} is required</span>
                                    </div>
                                {% else %}
                                    <label for="{{ key }}">{{ key|capitalize|replace("_", " ") }}</label>
                                    {{ value(class="form-control") }}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        <div class="checkbox">
                            <label>{{ form.internet_service() }}<strong>Internet service</strong></label>
                        </div>
                        <div class="checkbox">
                            <label>{{ form.email_account() }}<strong>Email account</strong></label>
                        </div>
                        <label for="notes">Notes</label>
                        {{ form.notes(class="form-control") }}
                        {{ form.submit(class="btn btn-primary") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}