{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
    <div class="row">
        <div class="page-header content-heading content-area">
            <h3>User Search   <small>at least one field is required</small></h3>
        </div>
        <div class="row">
            <div class="col-xs-9 col-sm-6 col-md-5 content-area">
                <form class="form-group" action="/search" method="POST">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                {% if category == 'error'  %}
                                    <div class="form-group alert alert-danger">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times</span>
                                        </button>
                                       <strong>{{ message }}</strong>
                                    </div>
                                {% elif category == 'info' %}
                                    <div class="form-group alert alert-success" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <strong>{{ message }}</strong>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    {{ form.csrf_token }}
                    <div class="from-group">
                        <label for="username">Username</label>
                        {{ form.username(class="form-control") }}
                        <label for="account_number">Account Number</label>
                        {{ form.account_number(class="form-control") }}
                        {% if form.account_number.errors %}
                            <div class="alert alert-danger">
                                <span>{{ form.account_number.errors[0] }}</span>
                            </div>
                        {% endif %}
                        <label for="phone_number">Phone Number</label>
                        {{ form.phone_number(class="form-control") }}
                        <label for="last_name">Last Name</label>
                        {{ form.last_name(class="form-control") }}
                        {{ form.submit(class="btn btn-primary") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
{#{% block scripts %}#}
{#    {{ super() }}#}
{#    <script type="text/javascript">#}
{#        window.setTimeout(function() {#}
{#            $(".alert").fadeTo(500, 0).slideUp(500, function()#}
{#            {#}
{#                $(this).remove();#}
{#            });#}
{#        }, 4000);#}
{#    </script>#}
{#{% endblock scripts %}#}