body {
  padding-top: 51px;
  background: #ffffff;
}

.text-center {
  padding-top: 20px;
}

.col-xs-12 {
  background-color: #fff;
}

.navbar-pad {
    padding-left: 20px;
}

.content-heading {
  margin-top: 20px;
  padding-bottom: 0px;
}

.content-area {
  margin-left: 15px;
}

.content-area input {
  margin-bottom: 15px;
}

.content-area label {
  color: #8c8c8c;
}

.content-area textarea {
  margin-bottom: 25px;
}

.help-block-error {
  display: block;
  margin-top: 2px;
  margin-bottom: 15px;
  color: #d43f3a;
}

#sidebar {
  height: 100%;
  padding-right: 0px;
  padding-top: 20px;
}

#sidebar .nav {
  width: 85%;
}

#sidebar li {
  border:0 #f2f2f2 solid;
  border-bottom-width:1px;
}

/* collapsed sidebar styles */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.75s ease-out;
    -moz-transition: all 0.75s ease-out;
    transition: all 0.75s ease-out;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -41.6%;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -41.6%;
  }

  .row-offcanvas-right.active {
    right: 41.6%;
  }

  .row-offcanvas-left.active {
    left: 43.6%;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 41.6%;
  }

  #sidebar {
    padding-top:10px;
  }
}
