{% extends "bootstrap/base.html" %}

{% block metas %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- The above meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
{% endblock metas %}
    <title>{% block title %}ATMC ISAT{% endblock title %}</title>
{% block styles %}
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ie10-viewport-bug-workaround.css') }}">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/signin.css') }}">
    <link rel="stylesheet", type="text/css" href="{{ url_for('static', filename='css/simple-sidebar.css') }}">
{% endblock styles %}
</head>
<body>
{% block body %}
    {% if current_user.is_authenticated %}
        <div class="page-container">
            <!-- top navbar with hamburger button on small screen -->
            <div class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".sidebar-nav">
                             <span class="icon-bar"></span>
                             <span class="icon-bar"></span>
                             <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand navbar-pad" href="{{ url_for('main.search') }}">ATMC ISAT</a>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row row-offcanvas row-offcanvas-left">
                    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
                        <ul class="nav well well-sm">
                            <li>
                                <a href="{{ url_for('main.search') }}">Search</a>
                            </li>
                            <li>
                                <a href="{{ url_for('main.add_user') }}">Add User</a>
                            </li>
                            <li>
                                <a href="{{ url_for('main.archived_users') }}">Archived Users</a>
                            </li>
                            <li>
                                <a href="{{ url_for('main.whos_online') }}">Who's Online</a>
                            </li>
                            <li>
                                <a href="{{ url_for('main.log_search') }}">Log Search</a>
                            </li>
                            <li>
                                <a href="{{ url_for('main.nas_stats') }}">NAS Statistics</a>
                            </li>
                            <li>
                                <a href="#">Contact</a>
                            </li>
                            <li>
                                <a href="{{ url_for('auth.logout') }}">Log out</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-9">
                        {% block content %}
                        {% endblock content %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% block scripts %}
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="{{ url_for('static', filename='js/ie10-viewport-bug-workaround.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    {% endblock scripts %}
{% endblock body%}
</body>
